mixin displayPost(post)
  .post 
    if user 
      h6.username= post.user.username
    else 
      h6.username 
        i Anonymous
    p= post.content 
    time(datetime=post.createdAtISO)= post.createdAtFormatted

mixin displayBoard(board)
  .board
    each post in board.posts
      +displayPost(post)

mixin displayBoardList(boards)
  .board-list 
    each board in boards
      a(href=`/boards/${board.id}`)
        if user 
          h6= board.user.username 
        else
          h6 
            i Anonymous
        h5= `${board.title} - ${board.posts.length} posts` 
        p= board.description
        time(datetime=board.createdAtISO)= board.createdAtFormatted
