mixin displayCreator(creator)
  if user && user.isMember
    h6.username= creator.username
  else 
    h6.username 
      i Anonymous

mixin displayBoard(board)
  each post in board.posts
    .post 
      .content
        +displayCreator(post.user)
        p= post.content 
        time(datetime=post.createdAtISO)= post.createdAtFormatted

      if user && user.isAdmin
        form(method='POST' action=`/boards/${board.id}/delete/${post.id}`)
          button.delete(type='submit') Delete Post


mixin displayBoardList(boards)
  .board-list 
    each board in boards
      .board
        a.content(href=`/boards/${board.id}`)
          +displayCreator(board.user)
          h5.board-title= `${board.title} - ${board.posts.length} posts` 
          p= board.description
          time(datetime=board.createdAtISO)= board.createdAtFormatted

        if user && user.isAdmin
          form(method='POST' action=`/boards/delete/${board.id}`)
            button.delete(type='submit') Delete Board




