mixin displayPost(post)
  .post 
    if user 
      h6= post.user.username
    else 
      h6 
        i Anonymous
    p= post.content 
    p= post.createdAtFormatted

mixin displayBoard(posts)
  .board
    each post in posts
      +displayPost(post)

mixin displayBoardList(boards)
  .board-list 
    each board in boards
      button 
        a(href=`/board/${board.id}`)
          if user 
            h6= board.user.username 
          else
            h6 
              i Anonymous
          h5= board.title 
          p= board.description
          p= board.createdAtFormatted
