extends layout 

block content 
  h1= title

  if !user
    p You must be logged in to view your profile. 
      a(href='/login') Log in
      |  or 
      a(href='/sign-up') sign up
      | .

  else
    form(method='POST' action='/profile/update-username')
      h2 Update Username 

      .form-group
        label(for='new_username') New Username:
        input.form-control(type='text' name='new_username' id='new_username' value=new_username required)
        if errors && errors.has('new_username')
          p.error-message * #{errors.get('new_username')}

      button.submit(type='submit') Update Username

    form(method='POST' action='/profile/update-password')
      h2 Update Password

      .form-group
        label(for='current_password') Current Password:
        input.form-control(type='password' name='current_password' id='current_password' required)
        if errors && errors.has('current_password')
          p.error-message * #{errors.get('current_password')}

      .form-group
        label(for='new_password') New Password:
        input.form-control(type='password' name='new_password' id='new_password' required)
        if errors && errors.has('new_password')
          p.error-message * #{errors.get('new_password')}

      .form-group
        label(for='confirm_password') Confirm Password:
        input.form-control(type='password' name='confirm_password' id='confirm_password' required)
        if errors && errors.has('confirm_password')
          p.error-message * #{errors.get('confirm_password')}

      button.submit(type='submit') Update Password

    form(method='POST' action='/profile/update-status')
      h2 Update Status

      .form-group
        label(for='member_passcode') Member Passcode:
        input.form-control(type='text' name='member_passcode' id='member_passcode' value=member_passcode placeholder=(user.isMember ? 'Is a member' : '') disabled=(user.isMember))
        if errors && errors.has('member_passcode')
          p.error-message * #{errors.get('member_passcode')}

      .form-group
        label(for='admin_passcode') Admin Passcode:
        input.form-control(type='admin_passcode' name='admin_passcode' id='admin_passcode' value=admin_passcode placeholder=(user.isAdmin ? 'Is an admin' : '') disabled=(user.isAdmin))
        if errors && errors.has('admin_passcode')
          p.error-message * #{errors.get('admin_passcode')}

      button.submit(type='submit') Update Status