extends layout 

block content 
  h1= title

  form(method='POST')
    .form-group
      label(for='username') Username:
      input.form-control(type='text' name='username' id='username' required min=3 max=20 value=username)
      if errors && errors.has('username')
        p.error-message * #{errors.get('username')}

    .form-group
      label(for='password') Password:
      input.form-control(type='password' name='password' id='password' required min=8 max=20 value=password)
      if errors && errors.has('password')
        p.error-message * #{errors.get('password')}

    .form-group
      label(for='confim_password') Confirm Password:
      input.form-control(type='password' name='confirm_password' id='confirm_password')
      if errors && errors.has('confirm_password')
        p.error-message * #{errors.get('confirm_password')}

    button(type='submit') Sign Up

    p Already have an account? 
      a(href='/login') Log In